html{
    background-image: url('img/new_background_1.png');
    background-repeat: none;
    background-size: center;
    min-height: 100vh;
}
.uk-align-center.uk-margin-small-bottom{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    width: 130px;
    aspect-ratio: auto 130 / 191;
    outline: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px!important;
}
.uk-container{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    outline: 0;
    margin: 0;
    min-height: 100vh;
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.uk-text-centertext-white.uk-margin-remove-top.uk-margin-remove-bottom{
    -webkit-text-size-adjust: 100%;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    outline: 0;
    margin: 0 0 20px 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-transform: none;
    font-size: 1.25rem;
    line-height: 1.4;
    text-align: center!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    color: white;
    font-weight: 900;
}
.uk-margin-top.uk-grid.uk-grid-stack{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    outline: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -30px;
    margin-top: 20px!important;
    margin-bottom: 0;
}
.uk-alert{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    position: relative;
    margin-bottom: 20px;
    padding: 15px 29px 15px 15px;
    background: #f8f8f8;
    color: #666;
}
.text-white.uk-text-center{
    -webkit-text-size-adjust: 100%;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    margin: 0 0 20px 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-transform: none;
    font-size: 1.25rem;
    line-height: 1.4;
    text-align: center!important;
    font-weight: 900;
    color: white;
    margin-bottom: 0;
}
.uk-flex.uk-flex-between.uk-flex-nowrap{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.uk-button.active.myToggler{
    -webkit-text-size-adjust: 100%;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    cursor: pointer;
    background-color: white;
    color: black;
    margin-top: 15px;
    height: 38px;
}
.uk-button.changer2.myToggler{
    -webkit-text-size-adjust: 100%;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
    background-color: #25975A;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    margin-top: 15px;
    cursor: pointer;
}
.uk-button.changer.myToggler{
    -webkit-text-size-adjust: 100%;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
    background-color: #25975A;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    margin-top: 15px;
    cursor: pointer;
}
.uk-flex.uk-flex-between.uk-flex-wrap{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.uk-search.uk-search-default.uk-margin-top.uk-background-default{
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    display: inline-block;
    position: relative;
    max-width: 100%;
    margin: 0;
    background-color: #fff;
    margin-top: 20px!important;
    min-width: 150px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.uk-icon.uk-search-icon{
    -webkit-text-size-adjust: 100%;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    fill: currentcolor;
    line-height: 0;
    color: #25975A !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    pointer-events: none;
}
.uk-search-input{
    -webkit-text-size-adjust: 100%;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    margin: 0;
    border-radius: 0;
    font: inherit;
    overflow: visible;
    -webkit-appearance: none;
    vertical-align: middle;
    color: #666;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 40px;
    padding-right: 6px;
    background: 0 0;
    border: 1px solid #e5e5e5;
    padding-left: 40px;
}
.uk-form-icon.uk-form-icon-flip.uk-icon.uk-text-danger{
    -webkit-text-size-adjust: 100%;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    fill: currentcolor;
    line-height: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: auto;
    color: #f0506e!important;
}
.uk-width-1-1.uk-background-defaul.uk-margin-to.uk-overflow-auto{
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    overflow: auto;
    margin-top: 20px!important;
    height: 100px;
    max-height: 100px;
    font-size: 16px;
}
.uk-list.uk-list-divider{
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    font-size: 16px;
    outline: 0;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    display: block;
}
.uk-select.uk-margin-top{
    -webkit-text-size-adjust: 100%;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
    font: inherit;
    text-transform: none;
    max-width: 100%;
    width: 100%;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;
    margin-top: 20px!important;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    -webkit-appearance: none;
    padding-right: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    font-size: 16px;
    font-weight: bold;
}
.uk-table{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.uk-background-green.uk-text-center.uk-padding-remove{
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    border-collapse: collapse;
    border-spacing: 0;
    outline: 0;
    text-align: center!important;
    padding: 0!important;
    border: 1px solid white;
    background-color: #25975A;
    width: 120px !important;
    vertical-align: bottom;
    font-size: .875rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white !important;
}
.uk-width-1-8.uk-text-center.uk-background-white.uk-padding-remove{
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    border-collapse: collapse;
    border-spacing: 0;
    outline: 0;
    text-align: center!important;
    padding: 0!important;
    border: 1px solid white;
    background-color: #25975A;
    vertical-align: bottom;
    font-size: .875rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white !important;
    box-sizing: border-box;
    width: 50px !important;
    max-width: 100%;
}
.uk-width-1-8.uk-text-center.uk-background-white.uk-padding-remove.timetableWeek{
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    font-size: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    outline: 0;
    border: 1px solid gray;
    text-align: center!important;
    padding: 0!important;
    color: white !important;
    vertical-align: top;
    box-sizing: border-box;
    width: 50px !important;
    max-width: 100%;
    background-color: rgb(118, 189, 73);
}


.uk-flex.uk-flex-center.uk-flex-wrap{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.text-white{
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    margin: 0 0 20px 0;
    color: white;
    font-weight: 900;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 10px;
}
.uk-label.uk-background-green{
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    display: inline-block;
    padding: 0 10px;
    background: #1e87f0;
    line-height: 1.5;
    font-size: .875rem;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: #25975A;
    color: white;
}
.uk-label.uk-background-red.uk-margin-left{
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    display: inline-block;
    padding: 0 10px;
    background: #1e87f0;
    line-height: 1.5;
    font-size: .875rem;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    margin-left: 20px!important;
    background-color: #f0506e;
}
.uk-grid-margin.uk-first-column{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    margin: 0;
    padding-left: 30px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
}
.uk-margin-remove{
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    font-size: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center!important;
    outline: 0;
    margin: 0!important;
}
.uk-background-green.uk-width-1-5.col-space.uk-text-center{
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    font-size: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    outline: 0;
    box-sizing: border-box;
    max-width: 100%;
    width: 20%;
    text-align: center!important;
    height: 60px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    vertical-align: middle !important;
    border: 1px solid white;
    background-color: #25975A;
    color: white;
    padding: 16px 12px;
}
.simple{
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    font-size: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center!important;
    outline: 0;
    margin-bottom: 0;
}
.uk-margin-remove{
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    font-size: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center!important;
    outline: 0;
    margin: 0!important;
}
.uk-table.uk-margin-remove-top{
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    font-size: 16px;
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 0!important;
    margin-bottom: 0;
    box-shadow: 3px 0px 9px 5px rgba(26, 25, 26, 1);
}
.uk-link-muted-left   { 
    font-size: 16px;
font-weight: 400;
line-height: 1.5;
-webkit-text-size-adjust: 100%;
font-family: 'Times New Roman', Times, serif;
--uk-breakpoint-s: 640px;
--uk-breakpoint-m: 960px;
--uk-breakpoint-l: 1200px;
--uk-breakpoint-xl: 1600px;
--uk-leader-fill-content: .;
list-style: none;
outline: 0;
text-decoration: none;
cursor: pointer;
margin-left: 20px!important;
color: #999;}
.uk-alert-succes.uk-alert{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: 'Times New Roman', Times, serif;
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
    --uk-leader-fill-content: .;
    list-style: none;
    outline: 0;
    position: relative;
    padding: 15px 29px 15px 15px;
    margin-top: 20px;
    background: #edfbf6;
    color: #32d296;
    margin-bottom: 0;
}